*{ 
    margin: 0px;
    padding: 0px;
   
    font-family: Arial;
    font-size: 35px;
}
#logo-div1{
    box-sizing: border-box;
    border: 2px solid red;
    border-right: none;
    background-color: pink;
    height: 50px;
    width: 50%;
    padding-left: 2%;
    min-height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    float: left;
}
#logo-div1 img{
    width: auto;
    height: auto;
}

#nav-div{
    box-sizing: border-box;
    border: 2px solid red;
    border-left: none;
    background-color: pink;
    height: 50px;
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    float: right;
}